/* All styles for your Card Components live here */

.banner {
    margin-top: 10px;
    margin-left: 70px;
    width: 85%;
}

.content {
    margin-top: -5px;
    margin-right: 10px;
    margin-left: 70px;
}

.grey {
    color: grey;
}